.form{
    width: 25%;
    height: auto;
    background-color: rgb(1, 53, 72);
    padding: 50px;
    margin: auto;
    border-radius: 10px ;
    border: 4px solid rgb(0, 0, 0);; 
   
}
.cuadro{
    background: rgb(255, 255, 255);
    width: 45%;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.boton {
    text-align: center;
    margin:6px;
    width: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: rgb(224, 55, 55);
    font-size: 20px;
    text-align: center; 
    
}
.texto{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}